@import '../../styles/colors'

// https://gyazo.com/f5c7de2dd21d595b6db41247225cb218
.heading
    background headerColor
    padding 20px
    text-align center
    margin 0px

.container
    width auto

.headerText
    color white
    margin-top 8px

@media (max-width: 992px) and (min-width: 768px)
    .headerText
        padding-left 0px
        margin-right 0px
        display inline-flex

    .loginProfile
        display inline-flex
        padding-left: 121px;

.logInButton
    background-color bloodOrange
    display inline-block

.logInText
    color lightBlue2