$button-color = greenyellow

.parentClear:after
    // clear: both
    // content: ""
    // display: table

.longText
    white-space pre-line
    overflow hidden
    text-overflow ellipsis
    display -webkit-box
    -webkit-line-clamp 3
    -webkit-box-orient vertical

.buttonStyle
    padding-left 20px
    // margin-left: 10px
    // color: white
    // background-color: $button-color

.newsBlock
    // width: 30%
    // float: left
    // margin: 1px

@media (max-width: 992px)
    .buttonStyle
        padding-left 0px
        padding-top 5px