@import '../../styles/colors';

.main {
    padding: 10px 20px 20px 20px;
}

.leftMenuPadding
    padding 0px
    margin-bottom 20px
// .activeLink {
//     color: red;
//     background-color: purple;
// }

.leftMain {
    background-color: leftMenu;
}

.rightMain {
    background-color: rightMenu;
}

// .alignLeft {
//     float: left;
// }

// .alignRight {
//     float: right;
// }

.containerOverBoxes {
    height: 100%;
    // margin: 0 auto;
}

// @media screen and (min-width: 1270px) {
//     .containerOverBoxes {
//         width: 1270px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }

// .leftSideWidth {
//     width: 350px;
// }

// .rightSideWidth {
//     margin-left: 370px;
//     min-width: 650px;
//     max-width: 950px;
// }

// .testStyle {
//     color: darkblue;
//     font-size: xx-large;
// }

.mainContainerTablePage
    background-color gold

