@import '../../styles/colors'

// This file is left as css for comparison to other styl files
.mainStyle
    padding-top 20px
    padding-bottom 20px
    // background-color: background;
    height auto !important
    min-height 100%